<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Alumni Tracker{% endblock %}</title>
    {% load staticfiles %}
    <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" type="text/css" href="{% static 'alumni_tracker/font-awesome.min.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script-->
        <link rel="stylesheet" href="{% static 'alumni_tracker/createalumnus.css' %}">

    
</head>
<body>
    <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <h4><a href="{% url 'alumni_tracker:home' %}">Alumni Tracker</a></h4>
                </div>
                <div class="navbar-header" style="float: right; padding-left : 10px">
                    <h4><a href="{% url 'alumni_tracker:search' %}">Search</a></h4>
                </div>
                
            </div>
        </nav>
        <section id="banner">
                <div class="inner">
                    <center>
                    <header>
                        <h1><b>Create your profile here!</b></h1>
                    </header>
                    <h2></h2>
                    <br>

                     <form role="search" method="get" action="{% url 'alumni_tracker:display_self_profile' %}">
                <div class="form-group">
                    {% csrf_token %}
                    <b>
                        <h2>Personal Details:</h2>
                    Roll Number : <input type="text" class="form-control" name="roll_no" value="{{ request.GET.roll_no }}">
                    Name : <input type="text" class="form-control" name="name" value="{{ request.GET.name }}">
                    Graduation Year : <input type="text" class="form-control" name="grad_year" value="{{ request.GET.grad_year }}">
                    Present City : <input type="text" class="form-control" name="city" value="{{ request.GET.city }}">
                    Present Country : <input type="text" class="form-control" name="present_country" value="{{ request.GET.present_country }}">
                    Department Code : <input type="text" class="form-control" name="dept_code" value="{{ request.GET.dept_code }}">
                    CGPA : <input type="text" class="form-control" name="cgpa" value="{{ request.GET.cgpa }}">
                    Email ID : <input type="text" class="form-control" name="email_id" value="{{ request.GET.email_id }}">
                    Major 1 : <input type="text" class="form-control" name="major1" value="{{ request.GET.major1 }}">
                    Major 2<input type="text" class="form-control" name="major2" value="{{ request.GET.major2 }}">
                    <h2>Work Experience in any Company (If Applicable):</h2>
                    Company Name : <input type="text" class="form-control" name="company_name" value="{{ request.GET.company_name }}">
                    Company City : <input type="text" class="form-control" name="company_city" value="{{ request.GET.company_city }}">
                    Company Country : <input type="text" class="form-control" name="company_country" value="{{ request.GET.company_country }}">
                    Job Field : <input type="text" class="form-control" name="job_field" value="{{ request.GET.job_field }}">
                    Job Position : <input type="text" class="form-control" name="job_position" value="{{ request.GET.job_position }}">
                    <h2>Higher Studies Details (If Applicable):</h2>
                    School Name : <input type="text" class="form-control" name="school_name" value="{{ request.GET.school_name }}">
                    School City : <input type="text" class="form-control" name="school_city" value="{{ request.GET.school_city }}">
                    School Country : <input type="text" class="form-control" name="school_country" value="{{ request.GET.school_country }}">
                    School Graduation Year : <input type="text" class="form-control" name="school_grad" value="{{ request.GET.school_grad }}">
                    School Programme : <input type="text" class="form-control" name="school_programme" value="{{ request.GET.school_programme }}">
                    <h2>Social Links:</h2>
                    Github Link : <input type="text" class="form-control" name="github" value="{{ request.GET.github }}">

                    Linkedin URL or Homepage URL: <input type="text" class="form-control" name="linkedin" value="{{ request.GET.linkedin }}">
                   
                    </b>
                </div>
                <button type="submit" class="btn btn-default">Create profile</button>
            </form>
                    </center>
                </div>
            </section>
   


</body>