


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Alumni Tracker{% endblock %}</title>
    {% load staticfiles %}
    <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="{% static 'alumni_tracker/font-awesome.min.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'alumni_tracker/major.css' %}">
    
</head>
<body>
    <nav class="navbar navbar-default" style="margin-bottom: 0px">
            <div class="container-fluid">
                <div class="navbar-header">
                    <h4><a href="{% url 'alumni_tracker:home' %}">Alumni Tracker</a></h4>
                </div>
                
                <div class="navbar-header" style="float: right; padding-left : 10px">
                    <h4><a href="{% url 'alumni_tracker:logout' %}">Logout</a></h4>
                </div>
                
            </div>
        </nav>
        <section id="banner">
                <div class="inner">
                    <center>
                    <header>
                         <h1 style="color:#070707">Add a Major!</h1> 
                     </header>   

                     <form role="search" method="get" action="{% url 'alumni_tracker:add_majors_success' alumnus.roll_no %}">
                <div class="form-group" style="width:50%; ">
                    {% csrf_token %}
<b>
                    <p style="color: white">Roll Number :<input type="text" class="form-control" name="roll_no" value="{{alumnus.roll_no}}" readonly="readonly"></p>
                    <p style="color: white">New Major : <input type="text" class="form-control" name="major" value="{{ request.GET.major }}"></p>
   </b>                 
                    
                </div>
                <button type="submit" class="btn btn-default">ADD</button>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            </form>
                  </center>  
                </div>
            </section>
   


</body>   
