


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Alumni Tracker{% endblock %}</title>
    {% load staticfiles %}
    <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="{% static 'alumni_tracker/font-awesome.min.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'alumni_tracker/school.css' %}">


    
</head>
<body>
    <nav class="navbar navbar-default"  style="margin-bottom: 0px">
            <div class="container-fluid">
                <div class="navbar-header">
                    <h4><a href="{% url 'alumni_tracker:home' %}">Alumni Tracker</a></h4>
                </div>
                
                <div class="navbar-header" style="float: right; padding-left : 10px">
                    <h4><a href="{% url 'alumni_tracker:logout' %}">Logout</a></h4>
                </div>
                
            </div>
        </nav>
        <section id="banner">
                <div class="inner">
                    <header>

                       <h1 style="color:#f7e333">Add a school where you have pursued higher studies in!</h1> 

                     <form role="search" method="get" action="{% url 'alumni_tracker:add_schools_success' alumnus.roll_no %}">
                <div class="form-group" style="width:50%; margin-left: 25%; background-color:#ffffff80">
                    {% csrf_token %}
                    <b>
                    Roll Number :<input type="text" class="form-control" name="roll_no" value="{{alumnus.roll_no}}" readonly="readonly">
                    School Name : <input type="text" class="form-control" name="school_name" value="{{ request.GET.school_name }}">
                    School City : <input type="text" class="form-control" name="school_city" value="{{ request.GET.school_city }}">
                    School Country : <input type="text" class="form-control" name="school_country" value="{{ request.GET.school_country }}">
                   Programme : <input type="text" class="form-control" name="school_programme" value="{{ request.GET.school_programme }}">
                    Graduation : <input type="text" class="form-control" name="school_grad" value="{{ request.GET.school_grad }}">
                   </b> 
                    
                </div>
                <button type="submit" class="btn btn-default">Add School</button>
            </form>
                    
                </div>
            </section>
   


</body>   
