


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Alumni Tracker{% endblock %}</title>
    {% load staticfiles %}
   <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="{% static 'alumni_tracker/font-awesome.min.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'alumni_tracker/company.css' %}">
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script-->

    
</head>
<body>
    <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <h4><a href="{% url 'alumni_tracker:home' %}">Alumni Tracker</a></h4>
                </div>
                
                <div class="navbar-header" style="float: right; padding-left : 10px">
                    <h4><a href="{% url 'alumni_tracker:logout' %}">Logout</a></h4>
                </div>
                
            </div>
        </nav>
        <section id="banner">
                <div class="inner">
                    <header>
                      <h1 style="color:#070707">Add a company where you have been a full time employee or an intern!</h1>    
                    </header>
                    
                    <br>

                     <form role="search" method="get" action="{% url 'alumni_tracker:add_company_success' alumnus.roll_no %}">
                <div class="form-group">
                    {% csrf_token %}
<b>
                    Roll Number :<input type="text" class="form-control" name="roll_no" value="{{alumnus.roll_no}}" readonly="readonly">
                    Company Name : <input type="text" class="form-control" name="company_name" value="{{ request.GET.company_name }}">
                    Company City : <input type="text" class="form-control" name="company_city" value="{{ request.GET.company_city }}">
                    Company Country : <input type="text" class="form-control" name="company_country" value="{{ request.GET.company_country }}">
                   Field : <input type="text" class="form-control" name="job_field" value="{{ request.GET.job_field }}">
                    Job Position : <input type="text" class="form-control" name="job_position" value="{{ request.GET.job_position }}">
   
                    </b>
                </div>
                <button type="submit" class="btn btn-default">ADD</button>
            </form>
                    
                </div>
            </section>
   


</body>   
