{% load staticfiles %}

<head>
  <title>Alumni Tracker</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'alumni_tracker/details.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'alumni_tracker/font-awesome.min.css' %}">
  <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"-->

</head>
<body>	
    <div class="container">
     <div class="row">
      <div class="col-lg-3 col-sm-6">

        <div class="card hovercard">
            <div class="cardheader">

            </div>
            <div class="avatar">
                <img src="images/alumnus.png">
            </div>
            <div class="info">
                <div class="title">
                    Congrats ! profile created
                    <h1 target="_blank" href="">{{alumnus.alumni_name}}</h1>
                </div>
                <div class="desc">{{alumnus.roll_no}}</div>
                <div class="desc">{{alumnus.cgpa}}</div>
                <div class="desc">{{alumnus.email_id}}</div>
                <div class="desc">{{alumnus.present_city}}</div>
                <div class="desc">{{alumnus.grad_year}}</div>
                
                {% for majors in majors %}
                <li>{{majors.major}}</li>
                {% endfor %}

                


                {% if school %}
                {% for sc in school %}
                <li>{{sc.school_name}}, {{sc.city}} </li>
                {% endfor %}
                {% endif %}

                Schols without div:P
                <div>Schools</div>
                {% if studied_list %}
                {% for st in studied_list %}
                <li>{{st.programme}}, {{st.grad_year}} </li>
                {% endfor %}
                {% endif %}
                endschool

                {% if company %}
                {% for company in company %}
                <li>{{company.name}}, {{company.city}}</li>
                {% endfor %}
                {% endif %}
                
                <div> JOBS
                {% for j in jobs %}
                <p>
                </p>
                <li>{{j.field}} , {{j.position}}</li>
                {% endfor %}
            </div>


                <div class="desc"><a href="{{alumnus.github}}">{{alumnus.github}}</a></div>
                <div class="desc"><a href="{{alumnus.linkedin}}">{{alumnus.linkedin}}</a></div>
            </div>
        </div>
        <a href='../updatealumnus/{{alumnus.roll_no}}'>Update Profile</a>
        Want to update your <a href="{% url 'alumni_tracker:createschool' alumnus.roll_no %}">school details</a> and <a href="{% url 'alumni_tracker:createcompany' alumnus.roll_no %}">company details</a> too? 
        <br>
        <div><a href="{% url 'alumni_tracker:logout' %}">Logout</a></div>
    </div>
</div>
</div>
</body>