
 


{% load staticfiles %}
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Display</title>
  	
  
  
      <!--<link rel="stylesheet" href="{% static 'alumni_tracker/alumnus.css' %}">-->
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" type="text/css" href="{% static 'alumni_tracker/font-awesome.min.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'alumni_tracker/display.css' %}">


  
</head>

<body>
  <nav class="navbar navbar-default" style="margin-bottom: 0px">
            <div class="container-fluid">
                <div class="navbar-header">
                    <h4><a href="{% url 'alumni_tracker:home' %}">Alumni Tracker</a></h4>
                </div>
                <div class="navbar-header" style="float: right; padding-left : 10px">
                    <h4><a href="{% url 'alumni_tracker:search' %}">Search</a></h4>
                </div>
                <div class="navbar-header" style="float: right; padding-left : 10px">
                    <h4><a href="{% url 'alumni_tracker:login' %}">Login</a></h4>
                </div>
                <div class="navbar-header" style="float: right; padding-left : 10px">
                    <h4><a href="{% url 'alumni_tracker:registration' %}">Register</a></h4>
                </div>
            </div>
        </nav>
	
        <div class="textdiv">

        <section id="banner">
        <div class="inner">
          <header>
            <h1>Display Results</h1>
          </header>
          
          <br>

          <div class="flex ">

              <div>
              <!--span class="icon fa-car"></span-->
             <p style="font-size:25px">
        {% for alumni in alumni_list %}
              <a  id="alumnus_name" href="{% url 'alumni_tracker:details'   alumni.roll_no %}">{{alumni.alumni_name}}</a><br><br>
        {% endfor %}
                </p>      
            </div>


          
        </div>
      </section>
      

    

    <!-- Scripts -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/skel.min.js"></script>
      <script src="assets/js/util.js"></script>
      <script src="assets/js/main.js"></script>

        
      
          


         

          </center>
        </div>
      
      

    

    <!-- Scripts -->
   
  </div>
</body>
</html>